// Colors
$glow-color: #00ddff;
$glow-color-transparent: rgba(0, 221, 255, 0);
$rocket-color: #ff4d4d;
$mirv-color: #f0f;
$background-start: #02040a;
$background-end: #0a0c10;
$text-color: #e6edf3;
$border-color: #30363d;
$border-highlight: rgba(0, 221, 255, 0.5);
$disabled-color: #484f58;
$boss-health-bar-color: #ef233c;
$prestige-color: #ffd700;

// Threat Levels
$threat-high: #ef233c;
$threat-medium: #fdd835;
$threat-low: #43a047;
